@font-face {
  font-family: "GNEZDO";
  src: url("../public/fonts/GNEZDO.TTF") format("truetype");
}

@font-face {
  font-family: "HARDBOR";
  src: url("../public/fonts/HARDBOR.TTF") format("truetype");
}

@font-face {
  font-family: "MOLODO";
  src: url("../public/fonts/MOLODO-FONT.OTF") format("opentype");
}

@font-face {
  font-family: "Teremok";
  src: url("../public/fonts/TDTeremok.otf") format("opentype");
}

html,
body {
  margin-left: 10%;
  margin-right: 10%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  //background-color: antiquewhite;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

.hidden {
  opacity: 0;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  html,
  body {
    margin-left: 3%;
    margin-right: 3%;
  }
}
