.sidebar {
    float: left;
    width: 200px;
    display: flex;
    font-family: "Teremok", sans-serif;
    height: 100vh;
    flex-direction: column;
    border-right: 2px solid black;
}

.sidebar-button {
    font-size: 2.5rem;
    color: black;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sidebar-button:hover {
    background-color: purple;
}

@media (max-width: 1366px) {
    .sidebar {
        display: none;
    }
}
