.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "GNEZDO", sans-serif;
}

.navbar-button {
  white-space: nowrap;
  font-size: 2rem;
  color: black;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar-button:hover {
  background-color: purple;
}

@media (min-width: 1367px) {
  .navbar {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .navbar-button {
    font-size: 1.5rem;
  }
}
