.news {
    padding-top: 1rem;
}

.news-header {
    font-size: 2rem;
}

.news-headline {
    font-size: 1.5rem;
}

.news-block {
    border-bottom: 1px solid grey;
}

.link:hover {
    background-color: purple;
}
