.news {
    a:hover {
        background-color: purple;
    }
}

.news__image {
    width: 250px;
    height: 200px;
}

.news-header {
    font-size: 2rem;
}

.news-headline {
    font-size: 1.5rem;
}

.news-block {
    border-bottom: 1px solid grey;
}
